extends layout


block content
    meta(name='viewport', content='width=device-width, initial-scale=1')
    body1

        div.club-content1
            div.clubname1 Cinema Club
            div.tags1  - Entertainment -
            div.bigdescription1 Cinema Club is focused on enjoying and discussing films together, often with an educational component. They might watch a film each month and hold a guided discussion afterward.
            img.club-card-header-image1(src="https://img.freepik.com/premium-vector/cinema-movie-background-popcorn-filmstrip-clapboard-tickets-movie-time-background_41737-248.jpg?w=360")
            p.room1 Meets in P27 on Fridays
            p.advisor1 Advisor: Mrs. Lee
            a(href='https://epsilon.stuysu.org/stuyactivities' target='_blank')
                img.links1(src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1200px-Instagram_logo_2022.svg.png', alt='instagram')
            a(href='https://www.google.com' target='_blank')
                img.links1(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2sSeQqjaUTuZ3gRgkKjidpaipF_l6s72lBw&s', alt='google')
            div.border1
        iframe.calender1(src="https://calendar.google.com/calendar/embed?src=en.usa%23holiday%40group.v.calendar.google.com&ctz=UTC")
        div.space21
            p.officers1 Meet the Officers
                div.officercontent1
                    div.clubofficer-content1
                        img.officersimage1(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6I4sTak5bTNLQVa6_nBUOZQ41ASu2Kfpj8Q&s")
                        p.otitle1 Jonathan Garcia-Flores - President
                        block clubofficer-content1
                    div.clubofficer-content1
                        img.officersimage1(src="https://img.freepik.com/free-photo/beauty-portrait-female-face_93675-132046.jpg?semt=ais_hybrid&w=740&q=80")
                        p.otitle1 Jonathan Garcia-Flores - Vice President
                        block club-content1
                    div.clubofficer-content1
                        img.officersimage1(src="https://c.stocksy.com/a/gV3000/z9/13496.jpg")
                        p.otitle1 Jonathan Garcia-Flores - Secretary
                        block clubofficer-content1
                    div.clubofficer-content1
                        img.officersimage1(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAgi-tEgtPLmmBhOCAwEZGmevch-eEKVuHwg&s")
                        p.otitle1 Jonathan Garcia-Flores - Treasurer
                        block clubofficer-content1
                    div.clubofficer-content1
                        img.officersimage1(src="https://t3.ftcdn.net/jpg/03/16/72/68/360_F_316726850_Kp5gHry52XIA0Cedl7b2K1remR1hJ8NU.jpg")
                        p.otitle1 Jonathan Garcia-Flores - Historian
                        block clubofficer-content1
                    div.clubofficer-content1
                        img.officersimage1(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSB4P4Z4d2c8pvbfLBEEbD-WHq3GAqNH5h4Q&s")
                        p.otitle1 Jonathan Garcia-Flores - Activities Director
                        block clubofficer-content1
                    div.clubofficer-content1
                        img.officersimage1(src="https://www.asuprepdigital.org/wp-content/uploads/2024/06/how-to-motivate-a-high-school-student-1.jpeg")
                        p.otitle1 Jonathan Garcia-Flores - Extra
                        block clubofficer-content1
                    div.border21
        div.club-news
            div.club-activities
                div.club-activities-heading
                    h2 Club Activities
                    h2.formShow#formShow +
                    h2.formHide#formHide -
                div.formNews#formNews
                    form.news(action="#" method="post")
                        div.input-container
                            label(for="activity_name").form-label Name of Activity:
                            input(type="text" name="activity_name" id="activity_name" required=true)
                        div.input-container
                            label(for="activity_info")
                            textarea(name="activity_info" id="activity_info" placeholder="Activity Info..." required=true)
                        div.form-button-row
                            button.button(type="submit") Add Activity
                div.activity-content
                    p Ora ora ora?
                    p Ora ora ora?
                    p Ora ora ora?
                    p Ora ora ora?
                    p Ora ora ora?
                    p Ora ora ora?
                    p Ora ora ora?
                    p Ora ora ora?
                    p Ora ora ora?
                    p Ora ora ora?
            div.club-opportunities
                div.club-activities-heading
                    h2 Club Opportunities
                    h2.formShow#formShow2 +
                    h2.formHide#formHide2 -
                div.formNews#formNews2
                    form.news(action='#' method="post")
                        div.input-container
                            label(for="opportunity_name").form-label Name of Opportunity:
                            input(type="text" name="opportunity_name" id="opportunity_name" required=true)
                        div.input-container
                            label(for="opportunity_info")
                            textarea(name="opportunity_info" id="opportunity_info" placeholder="Opportunity Info..." required=true)
                        div.form-button-row
                            button.button(type="submit") Add Opportunity
                div.opportunities-content
                    p Bonesaw is ready~!
                    p Bonesaw is ready~!
                    p Bonesaw is ready~!
                    p Bonesaw is ready~!
                    p Bonesaw is ready~!
                    p Bonesaw is ready~!
                    p Bonesaw is ready~!
                    p Bonesaw is ready~!
                    p Bonesaw is ready~!
                    p Bonesaw is ready~!
                    p Bonesaw is ready~!
        div.knowcontent1
            h1.q1 What is this Activity?
                p.a1 Cinema Club is focused on enjoying and discussing films together, often with an educational component. They might watch a film each month and hold a guided discussion afterward. A film society is a membership-based club where people can watch screenings of films that would otherwise not be shown in mainstream cinemas. In Spain, Ireland and Italy, they are known as "cineclubs", and in Germany they are known as "filmclubs". They usually have an educational aim, introducing new audiences to different audiovisual works through an organized and prepared program of screenings. Editorial output reinforces the work of these organisations, as they produce hand-programmes, brochures, schedules, information sheets, and even essays, supporting the significance of their exhibitions. A common feature that may characterize a film society screening is that they begin with an introduction of the film to the audience, and end with the promotion of a discussion about the film, where assistants, organizers and sometimes the filmmakers themselves, exchange their views. There are networks in many different countries, and these are organized into federations, councils, collectives, and local networks. Famous film societies include Amos Vogel's Cinema 16, Cinémathèque Française, and the Film Society of Lincoln Center in New York City.
                block knowcontent1
            div.border21
            block border2
                div.knowcontent1
                    h1.q1 What makes this Activity unique?
                        p.a1 Cinema Club is focused on enjoying and discussing films together, often with an educational component. They might watch a film each month and hold a guided discussion afterward. A film society is a membership-based club where people can watch screenings of films that would otherwise not be shown in mainstream cinemas. In Spain, Ireland and Italy, they are known as "cineclubs", and in Germany they are known as "filmclubs". They usually have an educational aim, introducing new audiences to different audiovisual works through an organized and prepared program of screenings. Editorial output reinforces the work of these organisations, as they produce hand-programmes, brochures, schedules, information sheets, and even essays, supporting the significance of their exhibitions. A common feature that may characterize a film society screening is that they begin with an introduction of the film to the audience, and end with the promotion of a discussion about the film, where assistants, organizers and sometimes the filmmakers themselves, exchange their views. There are networks in many different countries, and these are organized into federations, councils, collectives, and local networks. Famous film societies include Amos Vogel's Cinema 16, Cinémathèque Française, and the Film Society of Lincoln Center in New York City.
                        block knowcontent1
                    div.border21
                    block border21
                        div.knowcontent1
                            h1.q1 What does a typical meeting look like?
                                p.a1 Cinema Club is focused on enjoying and discussing films together, often with an educational component. They might watch a film each month and hold a guided discussion afterward. A film society is a membership-based club where people can watch screenings of films that would otherwise not be shown in mainstream cinemas. In Spain, Ireland and Italy, they are known as "cineclubs", and in Germany they are known as "filmclubs". They usually have an educational aim, introducing new audiences to different audiovisual works through an organized and prepared program of screenings. Editorial output reinforces the work of these organisations, as they produce hand-programmes, brochures, schedules, information sheets, and even essays, supporting the significance of their exhibitions. A common feature that may characterize a film society screening is that they begin with an introduction of the film to the audience, and end with the promotion of a discussion about the film, where assistants, organizers and sometimes the filmmakers themselves, exchange their views. There are networks in many different countries, and these are organized into federations, councils, collectives, and local networks. Famous film societies include Amos Vogel's Cinema 16, Cinémathèque Française, and the Film Society of Lincoln Center in New York City.
                                block knowcontent1
                            div.border21
                            block border21
                                div.knowcontent1
                                    


//- extends layout
//-
//-block content
//-    section.club-banner
//-        img(src='/images/banner-placeholder.jpg', alt='Club Banner')
//-    section.club-info
//-        h1= club.name
//-        p.meeting= club.meeting
//-        p.description= club.shortDesc
//-        h3 Gallery
//-        div.gallery
//-            img(src='/images/sample1.jpg', alt='Club photo 1')
//-            img(src='/images/sample2.jpg', alt='Club photo 2')
//-            img(src='/images/sample3.jpg', alt='Club photo 3')
