doctype html
html
  head
    script(type='text/javascript' src='/javascripts/clubNews.js')
    title= title || "Edison High School Clubs"
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    nav
      header.main-header
        div.logo
          a(href='https://edison.fresnounified.org/', target='_blank')
            img(src="/images/Edison.png", alt="Logo")
        nav.main-nav
          a(href="/") Home
          if user && (user.role === "teacher" || user.role === "admin")
            a(href="/clubcreate") Create Club
            a(href="/registerofficer") Add Officer
          if user
            p.displayname  | #{user.role} - #{user.ufirstname} |
            a(href="/logout") Logout
          else
            a(href="/registeruser") Register User
            a(href="/login") Login
      main
        block content
      script(src='/javascripts/scripts/main.js')