doctype html
html
  head
    script(type='text/javascript' src='/javascripts/clubNews.js')
    title= title || "Edison High School Clubs"
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    //- --- Header / Nav ---
    header.main-header
      div.logo
        a(href='https://edison.fresnounified.org/', target='_blank')
          img(src="/images/Edison.png", alt="Logo")
      nav.main-nav
        a(href="/") Home
        a(href="/clubcreate") Create Club
        a(href="/registerofficer") Add Officer
        a(href="/about") About
        a(href="/contact") Contact
        a(href="/test") Test

    main
      block content
    script(src='/javascripts/scripts/main.js')