extends layout

block content
    .main-content
        h1 Login

        form.content-form(action="/login", method="POST")
            .form-header Login

            .input-container
                label.form-label Email:
                input(type="text", name="email" id='email')

            .input-container
                label.form-label Password:
                input(type="password", name="password" id='password')

            .club-create-form-button
                button(type="submit") Login
        if error
            p.error=error